{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>User Stories</title>
{%  endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-1">
                <a class="btn btn-secondary" href="{% url "ver_sprint" sprint.id %}">Atras</a>
            </div>
            <div class="col">
                <h1>{{ sprint.proyecto.nombre }} - Usuarios</h1>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-primary float-right" href={% url "listar_us_sprint" sprint.id %}>User Stories</a>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        {% if usuarios_sin_us or usuarios_con_us %}
            {% if usuarios_con_us %}
                {% for usuario in usuarios_con_us %}
                    <div class="card mb-3">
                        <div class="card-body row">
                            <div class="col">
                                <div class="row">
                                    <h5 class="card-title col">{{ usuario.user.username }}</h5>
                                    <p class="card-title col">Horas disponibles: {{ usuario.horas_disponibles }}</p>
                                </div>
                                {% for us in uss %}
                                    {% if usuario.user.id == us.usuario_asignado.id %}
                                        <p class="card-text col">{{ us.nombre }} - {{ us.trabajo_por_realizar }} hs</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-sm-3 mt-3">
                                <!-- { % if not us.usuario_asignado %}
                                    <a class="btn btn-primary float-right" href='{% url 'listar_usuario_us' sprint.id usuario.user.username %}'>Asignar US</a>
                                { % endif %} -->
                                {% if us_libres > 0 %}
                                    <a class="btn btn-primary float-right" href='{% url 'listar_usuario_us' sprint.id usuario.user.username %}'>Asignar US</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if usuarios_sin_us %}
                {% for usuario in usuarios_sin_us %}
                    <div class="card mb-3">
                        <div class="card-body row">
                            <div class="col">
                                <h5 class="card-title">{{ usuario.user.username }}</h5>
                                <p class="card-title">Horas disponibles: {{ usuario.horas_disponibles }}</p>
                            </div>
                            <div class="col-sm-3 mt-3">
                                {% if us_libres > 0 %}
                                    <a class="btn btn-primary float-right" href='{% url 'listar_usuario_us' sprint.id usuario.user.username %}'>Asignar US</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <p>No se encontraron miembros en el sprint. </p>
        {% endif %}

    </div>
{% endblock %}