{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>User Stories</title>
{%  endblock %}

{% block content %}

    <div class="container mb-2">
        <div class="row">
            <div class="col-lg-1">
                <a class="btn btn-secondary" href="{% url "ver_sprint" sprint.id %}">Atras</a>
            </div>
            <div class="col">
                <h1>{{ sprint.proyecto.nombre }} - US</h1>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-primary float-right" href={% url "listar_usuario_sprint" sprint.id %}>Usuarios</a>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        {% if user_stories %}
            {% for us in user_stories %}
                <div class="card mb-3">
                    <div class="card-body row">
                        <div class="col">
                            <h5 class="card-title">{{ us.nombre }}</h5>
                            <p class="card-text"> {{ us.descripcion_corta }} </p>
                            <p class="card-text"> Horas de trabajo: {{ us.trabajo_por_realizar }}</p>
                        </div>
                        <div class="col-sm-3 mt-3">
                            {% if not us.usuario_asignado %}
                                <a class="btn btn-primary float-right" href='{% url 'listar_us_usuario' sprint.id us.id %}'>Asignar Usuario</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No se encontraron User Stories disponibles.</p>
        {% endif %}
    </div>
{% endblock %}