{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Cargar valores de los campos personalizados</title>
{% endblock %}


{% block content %}

    <form method="post">
    {% csrf_token %}
        <div class="row1">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group" >
                    {{ form.as_p }}
                    {{ form_flujo.as_p }}
                </div>
            </div>
        </div>

        <div class="row1">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
            </div>
        </div>

    </form>

{% endblock %}
