{% extends 'base/base.html' %}

{% block title %}
    <title>User Story {{ us.id }}</title>
{% endblock %}

{% block content %}
    {% if operacion == 1 %}
        <h1>Creacion de User Story</h1>
    {% elif operacion == 2 %}
        <h1>Cancelar User Story {{ us.id }}</h1>
    {% elif operacion == 3 %}
        <h1>Asignar Usuario al User Story {{ us.id }}</h1>
    {% else %}
        <h1>Edicion del User Story {{ us.id }}</h1>
    {% endif %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        {% if operacion != 2 and operacion != 3 %}
            <button class="btn btn-primary" type="submit">Siguiente</button>
        {% else %}
            <button class="btn btn-primary" type="submit">Guardar</button>
        {% endif %}
        {% if operacion == 1 %}
            <a class="btn btn-secondary" href="{% url 'ver_proyecto' proyecto_id %}">Cancelar</a>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'ver_user_story' proyecto_id us_id %}">Cancelar</a>
        {% endif %}
    </form>
{% endblock %}