{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>User Stories</title>
{%  endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ sprint.proyecto.nombre }} - Usuarios</h1>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        {% if usuarios_sin_us or usuarios_con_us %}
            {% if usuarios_con_us %}
                {% for usuario in usuarios_con_us %}
                    <div class="card mb-3">
                        <div class="card-body row">
                            <div class="col">
                                <div class="row">
                                    <h5 class="card-title col">{{ usuario.user.username }}</h5>
                                    <p class="card-title col">Horas disponibles: {{ usuario.horas_disponibles }}</p>
                                </div>
                                {% for us in uss %}
                                    {% if usuario.user.id == us.usuario_asignado.id %}
                                        <p class="card-text">{{ us.nombre }}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-sm-3 mt-3">
                                {% if not us.usuario_asignado %}
                                    <a class="btn btn-primary float-right" href='{% url 'asignar_usuario_us' sprint.id usuario.user.username us_id %}'>Asignar US</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            {% if usuarios_sin_us %}
                {% for usuario in usuarios_sin_us %}
                    <div class="card mb-3">
                        <div class="card-body row">
                            <div class="col row">
                                <h5 class="card-title col">{{ usuario.user.username }}</h5>
                                <p class="card-title col">Horas disponibles: {{ usuario.horas_disponibles }}</p>
                            </div>
                            <div class="col-sm-3 mt-3">
                                {% if not us.usuario_asignado %}
                                    <a class="btn btn-primary float-right" href='{% url 'asignar_usuario_us' sprint.id usuario.user.username us_id %}'>Asignar US</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <p>No se encontraron usuarios en el sprint. </p>
        {% endif %}

        <div class="container-fluid">
            <a class="btn btn-danger float-right mr-3" href={% url "listar_us_sprint" sprint.id %}>Cancelar</a>
        </div>
    </div>
{% endblock %}