{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>User Stories</title>
{%  endblock %}

{% block content %}

    <h1>{{ sprint.proyecto.nombre }} - US</h1>

    {% if user_stories %}

        <h4>{{ username }}</h4>

        {% for us in user_stories %}
            <div class="card mb-3 w-75">
                <div class="card-body">
                    <h5 class="card-title">{{ us.nombre }}</h5>
                    <p class="card-text"> {{ us.descripcion_corta }} </p>
                    <p class="card-text"> {{ us.descripcion_larga }} </p>
                    <div class="container-fluid">
                        <a class="btn btn-primary btn-sm float-right" href={% url 'asignar_usuario_us' sprint.id username us.id %}>Asignar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No se encontraron User Stories asociados al proyecto</p>
    {% endif %}

    <div class="container-fluid">
        <a class="btn btn-danger float-right mr-3" href={% url "listar_usuario_sprint" sprint.id %}>Cancelar</a>
    </div>
{% endblock %}