{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>User Stories</title>
{%  endblock %}

{% block content %}

    <h1>{{ sprint.proyecto.nombre }} - US</h1>

    {% if us_iniciados or us_no_iniciados %}
        {% if us_iniciados %}
            {% for us in us_iniciados %}
                <div class="card mb-3 w-75">
                    <div class="card-body">
                        <h5 class="card-title">{{ us.nombre }}</h5>
                        <p class="card-text">
                            Prioridad: {{ us.prioridad_final }}
                        </p>
                        <p class="card-text">
                            <div class="alert alert-warning col-lg-4" style="text-align: center">
                                Incompleto
                            </div>
                        </p>
                        <p class="card-text">
                            {{ us.descripcion }}
                        </p>
                        <div class="container-fluid">
                            <a class="btn btn-primary btn-sm float-right" href={% url 'cargar_us' sprint.id us.id %}>Importar</a>
                            <a class="btn btn-secondary btn-sm float-right mr-2" href=#>Detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if us_no_iniciados %}
            {% for us in us_no_iniciados %}
                <div class="card mb-3 w-75">
                    <div class="card-body">
                        <h5 class="card-title">{{ us.nombre }}</h5>
                        <p class="card-text">
                            Prioridad: {{ us.prioridad_final }}
                        </p>
                        <p class="card-text">
                            {% if us.iniciado %}
                                Pendiente
                            {% endif %}
                            {% if not us.iniciado %}
                                No Iniciado
                            {% endif %}
                        </p>
                        <p class="card-text">
                            {{ us.descripcion }}
                        </p>
                        <div class="container-fluid">
                            <a class="btn btn-primary btn-sm float-right" href={% url 'cargar_us' sprint.id us.id %}>Importar</a>
                            <a class="btn btn-secondary btn-sm float-right mr-2" href=#>Detalles</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}
        <p>No se encontraron User Stories asociados al proyecto</p>
    {% endif %}

    <div class="container-fluid">
        <a class="btn btn-danger float-right mr-3" href={% url "ver_sprint" sprint.id %}>Cancelar</a>
    </div>
{% endblock %}