{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Reestimacion de US {{ us.id }}</title>
{% endblock %}

{% block content %}
    <h1 class="align-center">Reestimacion de las horas por trabajar del US {{ us.id }}</h1>

    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Guardar</button>
    </form>


{% endblock %}