{% extends 'base/base.html' %}

{% block title %}
    <title>User Story {{ us.id }}</title>
{% endblock %}

{% block content %}
    {% if not user.is_superuser and us.usuario_asignado == usuario or proy.scrum == usuario and not user.is_superuser %}
        {% if usuario == proy.scrum and us.estado_proyecto == 'N' or usuario == proy.scrum and us.estado_proyecto == 'P' %}
            <a class="btn btn-secondary" href="{% url 'editar_user_story' proy.id us_id %}">Editar</a>
            <a class="btn btn-secondary" href="{% url 'cancelar_user_story' proy.id us_id %}">Cancelar</a>
        {% endif %}

    {% endif %}
    {% if atras == 1 %}
    <a class="btn btn-secondary" href="{% url 'ver_proyecto' proy.id %}">Atras</a><br>
    {% elif atras == 2 %}
    <a class="btn btn-secondary" href="{% url 'verkanban' proy.id %}">Atras</a><br>
    {% elif atras == 3 %}
    <a class="btn btn-secondary" href="{% url 'ver_sprint' sprint_id %}">Atras</a><br>
    {% endif %}
    {% if us.estado_proyecto == 'N' %}
        <h1>User Story {{ us.id }}: {{ us.nombre }} (NO INICIADO)</h1>
    {% endif %}
    {% if us.estado_proyecto == 'P' %}
        <h1>User Story {{ us.id }}: {{ us.nombre }} (EN PROCESO)</h1>
    {% endif %}
    {% if us.estado_proyecto == 'F' %}
        <h1>User Story {{ us.id }}: {{ us.nombre }} (FINALIZADO)</h1>
    {% endif %}
    {% if us.estado_proyecto == 'C' %}
        <h1>User Story {{ us.id }}: {{ us.nombre }} (CANCELADO)</h1>
    {% endif %}
    <div class="row">
        <dl class="col">
        <dt><b>Descripcion: </b></dt>
        <dd>{{ us.descripcion }}</dd>
        <dt><b>Tipo de User Story: </b></dt>
        <dd>{{ us.tipo }}</dd>
        <dt><b>Flujo: </b></dt>
        <dd>{{ us.flujo }}</dd>
        <dt><b>Fase: </b></dt>
        <dd>{{ us.fase }}</dd>
        <dt><b>Estado: </b></dt>
        {% if us.estado_fase == 1 %}
        <dd>TO DO</dd>
        {% endif %}
        {% if us.estado_fase == 2 %}
        <dd>DOING</dd>
        {% endif %}
        {% if us.estado_fase == 3 %}
        <dd>DONE</dd>
        {% endif %}

        <dt><b>Trabajo por realizar: </b></dt>
        <dd>{{ us.trabajo_por_realizar }}</dd>
        <dt><b>Trabajo realizado: </b></dt>
        {% if not us.trabajo_realizado %}
            <dd>No se trabajo en el User Story</dd>
        {% else %}
            <dd>{{ us.trabajo_realizado }}</dd>
        {% endif %}
        <dt><b>Prioridad: </b></dt>
        <dd>{{ us.prioridad }}</dd>
        <dt><b>Valor de Negocio: </b></dt>
        <dd>{{ us.valor_negocio }}</dd>
        <dt><b>Valor Tecnico: </b></dt>
        <dd>{{ us.valor_tecnico }}</dd>
        <dt>Prioridad final:</dt>
        <dd><b>{{ us.prioridad_final }}</b></dd>
        <dt><b>Estado en el Sprint: </b></dt>
        {% if us.estado_proyecto == 'N' %}
            <dd>No Iniciado</dd>
        {% elif us.estado_proyecto == 'P' %}
            <dd>En Proceso</dd>
        {% elif us.estado_proyecto == 'F' %}
            <dd>Finalizado</dd>
        {% elif us.estado_proyecto == 'C' %}
            <dd>Cancelado</dd>
        {% endif %}
        {% if us.estado_fase == 'P' or us.estado_fase == 'F' %}
            <dt><b>Tipo: </b></dt>
            <dd>{{ us.tipo }}</dd>
            <dt><b>Flujo: </b></dt>
            <dd>{{ us.flujo }}</dd>
            {% if us.estado_fase == 'P' %}
                <dt><b>Fase dentro del flujo: </b></dt>
                <dd>{{ us.fase }}</dd>
                <dt><b>Estado en la fase:</b></dt>
                <dd>{{ us.estado_fase }}</dd>
                {% if us.estado_fase == '1' %}
                    <dd>TO DO</dd>
                {% elif us.estado_fase == '2' %}
                    <dd>DOING</dd>
                {% elif us.estado_fase == '3' %}
                    <dd>DONE</dd>
                {% endif %}
            {% endif %}
        {% endif %}
        <dt><b>Encargado: </b></dt>
        <dd> {{ us.usuario_asignado }} </dd>
    </dl>
        <div class="col">
            <div class="alert list-group-item" style="background-color: #fafafa">
            <h2>Actividades
                {% if us.estado_fase == 2 and us.usuario_asignado == usuario %}
                    <a class="btn btn-secondary btn-circle" href="{% url 'crear_actividad' proy.id us.id %}"><i class="fa fa-plus" aria-hidden="true"></i></a>
                {% endif %}
            </h2>
            <table class="table table-bordered">
                <tbody>
                    {% for act in actividades %}
                        {% if actividades %}
                                <tr>
                                    <td><a href="/proyecto/{{ proy.id }}/user-stories/{{ us.id }}/actividad/{{ act.id }}/">{{ act.descripcion }}</a></td>
                                 </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% with actividades as items %}
                {% if items.has_other_pages %}
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-left">
                            {% if items.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                            {% endif %}
                            {% for i in items.paginator.page_range %}
                                {% if items.number == i %}
                                    <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if items.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
            {% endwith %}
            </div>
        </div>
    </div>
{% endblock %}