{% extends 'proyecto/base.html' %}

{% block content %}
    <h1>{{ titulo }}</h1>
    <form method="POST" class="cliente-form">{% csrf_token %}
        {{ form.as_p  }}
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-secondary" href="{% url 'ver_proyecto' proyecto_id %}">Cancelar</a>
    </form>
{% endblock %}