{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Importar Tipo US</title>
{% endblock %}


{% block content %}

    <form method="post">
    {% csrf_token %}
        Se importara el tipo "{{ tipo }}"
        ¿estas seguro que deseas importar?
            <input type="submit" value="Submit"/>
            <a class="btn btn-secondary" href="{% url 'tipoushome' proyecto_id %}">Cancelar</a>
    </form>

{% endblock %}
