{% extends 'proyecto/base.html' %}

    {% block content %}
        <form  method="post">
            {% csrf_token %}
            <div class="row1">
                <div class="col-md-4 col-md-offset-4">
                    <div class="input-group">
                        {{ form.as_p }}
                    </div>
                </div>
            </div>

            <div class="row1">
                <div class="col-md-4 col-md-offset-4">
                    <div class="form-group">
                        <a class="btn btn-secondary" href="{% url 'creartipous' proyecto_id %}">Cancelar</a>
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                </div>
            </div>

        </form>

    {% endblock %}



