{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Registrar Tipo US</title>
{% endblock %}


{% block content %}

    <h1 class="co-md-4 col-md-offset-4">   Nuevo Tipo de User Story</h1>
    <form method="post">
    {% csrf_token %}
        <div class="row1">
            <div class="col-md-4 col-md-offset-4">
                <div class="input-group">
                    {{ form.as_p }}
                </div>
            </div>
        </div>

        <div class="row1">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <a class="btn btn-link" href="{% url 'crearcampopersonalizado' proyecto_id  %}">Nuevo Campo </a>
                    <a class="btn btn-secondary" href="{% url 'ver_proyecto'  proyecto_id  %}">Cancelar</a>
                </div>
            </div>
        </div>

    </form>

{% endblock %}

