{% extends 'proyecto/base.html' %}

{% block content %}

    <div class="col-sm">
         <a class="btn btn-primary float-right" href="javascript:history.back()">Atras</a>
    </div>

    <div class=" col-md-4 ">
        <dt>Nombre: </dt>
        <dd>{{ object.nombre }}</dd>
        <dt>Proyecto:</dt>
        <dd> {{ object.proyecto }} </dd>
        <dt>Flujos:</dt>
        {% for flujo in object.flujo_set.all  %}

            <dd> {{ forloop.counter }} - {{ flujo }}  </dd>

        {% endfor %}
        <dt>Campos personalizados: </dt>

        {% for tc in object.tipo_campo_set.all %}

            <dd> {{ forloop.counter }} -  {{ tc.campo.nombre_campo }}:  {{ tc.campo.imput_campo }} </dd>

        {% endfor %}

    </div>

{% endblock %}