{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Listar  TipoUS</title>
{% endblock %}

{% block content %}
    <div class="row float-right"><a class="btn btn-secondary" href="{% url 'ver_proyecto' proyecto_id %}">Atras</a></div>
    <h2 class="table-info"> TIPOS DE USER STORY </h2 >


    {% if messages %}
        <ul class = "messages">
            {% for message in messages %}
                <li {% if message.tags %} class = "{{ message.tags }}" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div style="height:700px; overflow-y: scroll;">
    <table class="table table-bordered table-dark ">
        <thead>
            <tr>
                <td>NOMBRE</td>
                <td>PROYECTO</td>
                <td>FLUJOS</td>
                <td>CAMPOS_PERSONALIZADOS</td>
            </tr>

        </thead>
        <tbody class="table-bordered ">
            <nav class="container-fluid" >
                {% for tus in tipos_campos %}
                    <tr class="table-bordered" >
                        <td class="d-table-cell">{{ tus.nombre }} </td>
                        <td class="d-table-cell">{{ tus.proyecto }} </td>
                        <td>
                            {% for flujo in tus.flujo_set.all %}

                                <p>{{ flujo }}</p>
                                {% for us in us %}
                                    {% if flujo.id == us.flujo.id %}
                                        <a class="btn btn-secondary" href="{% url 'eliminar_flujo' flujo.pk %}">Eliminar</a>
                                    {% endif %}
                                {% endfor %}

                            {% endfor %}

                        </td>
                        <td class="align-center" >
                            {% for tcv in tus.tipo_campo_set.all %}

                                <p>{{ tcv.campo.nombre_campo }} : {{ tcv.valor }}</p>

                            {% endfor %}
                        </td>
                        <td align="right">
                            {% if tus.proyecto_id == proyecto_id %}
                                {#<a class="btn btn-link " href="{% url 'modificartipous'  proyecto_id tus.id  %}" >Modificar</a>#}
                                <a class="btn btn-link " href="{% url 'detalletipous'  proyecto_id tus.id  %}">ver detalles</a>
                            {% else %}
                                <a class="btn btn-link " href="{% url 'importartipous'  proyecto_id tus.id  %}" >Importar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </nav>

        </tbody>
    </table>
    </div>



{% endblock content %}