{% load static %}

<html>
<head>
    <title>SGP-PANEL DE LOGIN</title>
<!------ Include the above in your HEAD tag ---------->
      <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>
<body>
<div align="center">
<div class="container">
    <div class="col">
        <h2>Sistema de Gestion de Proyectos</h2>
        <hr />
        <div class="col" align="center">
            <div class="col-sm-8" style="width: 100%">

                <h4 class="page-header">Iniciar Sesion</h4>
                {% block content %}

                {% endblock %}

                <form role="form" method="post">{% csrf_token %}


                    <div class="form-group float-label-control">
                        <label for="">Username</label>
                        <input class="form-control" placeholder="Username" name="username" required>
                    </div>
                    <div class="form-group float-label-control">
                        <label for="">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Iniciar Sesion</button>

                </form>
            </div>


        </div>
    </div>
</div>
</div>

</body>

</html>