{% load static %}
{% load guardian_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">

</head>
<body>
    {% include 'login/navbar.html' %}
    {% block content %}
    {% endblock %}
    <div class="container-fluid mt-4" style="width: 80%;">
        <!-- <div class="col-md-6">
            <div class="alert alert-info" style="background-color: #fafafa">
                <h2>Sistema Gestor de Proyectos </h2>
                <h4>Usuario: <a href="{/% url 'detalles' request.user.id %}" >{/{ request.user }}</a></h4>
            </div>
        </div>-->

        {% if not user.is_superuser %}
                <div class="">
                    <div class="alert list-group-item" style="background-color: #fafafa">
                        <h2>Proyectos Relacionados</h2>

                            {% if proyectos %}
                                {% include 'proyecto/main_proyecto.html'%}
                            {% else %}
                                <h6>No hay proyectos relacionados a {{ usuario }}</h6>
                            {% endif %}
                    </div>
                </div>
        {% endif %}
    </div>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js' %}"></script>
</body>
</html>