{%  extends 'login/index.html' %}

{% block title %}
    <title>Inicio</title>
{% endblock %}

{% block content %}
    <div class="container mt-4" style="width: 90%">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!--<header>
            <h1 style="text-align: center">SGP</h1>
        </header>-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="container-fluid">
            {% if not request.user.is_superuser %}
                {% if 'usuarios.view_usuario' in objeto_permiso %}
                    <a class="btn btn-primary mr-2" href="{% url 'listarusuario'%}">Usuarios</a>
                {% endif %}

            {% if 'roles_permisos.add_rol' in objeto_permiso %}
                    <a class="btn btn-primary" href="/rol/listar">Roles</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
