{% block title %}Login{% endblock %}

    {% block content %}
        {% if form.error %}
            <p class="alert-danger">Error, el nombre de usuario o la contraseña no son válidos</p>>
        {% endif %}
    <h2 class="page_header">Iniciar Sesion</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-default">Login</button>
    </form>
    {% endblock %}

