{% extends 'base/base.html' %}

{% block content %}
    <div class="align-content-center col-lg-12">
        <div class="alert alert-success">
            <strong>Cerraste Sesion!</strong> Vuelve pronto
            <p><a href="{% url 'login' %}">login</a></p>
        </div>
    </div>
    {% endblock %}