{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand-sm">
      <a class="navbar-brand text-primary" >SGP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          {% if not user.is_superuser %}
              {% if 'proyecto.add_proyecto' in perms or 'proyecto.change_proyecto' in perms %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Proyectos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if 'proyecto.add_proyecto' in perms %}
                            <a class="dropdown-item" href="{% url 'proyecto_new'%}">Crear Proyecto</a>
                        {% endif %}

                        {% if 'proyecto.change_proyecto' in perms %}
                            <a class="dropdown-item" href="#">Editar Proyecto</a>
                        {% endif %}
                    </div>
                  </li>
              {% endif %}
          {% endif %}

          {% if user.is_superuser or 'usuarios.add_usuario' in perms or 'usuarios.view_usuario' in perms %}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Usuarios
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    {% if 'usuarios.add_usuario' in perms and not user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'crearusuario'%}">Crear Usuario</a>
                    {% endif %}

                    {% if user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'crearadmin'%}">Crear Administrador</a>
                    {% endif %}

                    {% if 'usuarios.view_usuario' in perms and not user.is_superuser %}
                        <a class="dropdown-item" href="{% url 'listarusuario'%}">Listar Usuarios</a>
                    {% endif %}
                </div>
              </li>
          {% endif %}

        </ul>

      </div>
        <div>
             <ul class="navbar-nav " >
                 <li class="nav-item justify-content-end">
                     <a  class="nav-link text-primary font-weight-bold" href="{% url 'detalles' request.user.id %}" >{{ request.user }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout_url' %}">Cerrar sesión</a>
                </li>

             </ul>
        </div>
    </nav>
{% endblock %}