{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Crear Flujo</title>
{% endblock %}

{% block content %}
    {% if messages %}
        <ul class = "messages">
            {% for message in messages %}
                <li {% if message.tags %} class = "{{ message.tags }}" {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    <h1>Nuevo Flujo</h1>
    <form method="POST" class="proyecto-form">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" href="{% url 'crear_fase' %}" type="submit">Guardar y Crear fase</button>
        <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
    </form>
{% endblock %}