{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Crear Fase</title>
{% endblock %}

{% block content %}
    <h1>Nueva Fase</h1>
    <form method="POST" class="proyecto-form">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Guardar y Crear</button>
        <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
        <a class="btn btn-secondary" href="{% url 'crear_flujo2' %}" name="flujito" value="flujito">Crear nuevo Flujo </a>
    </form>
{% endblock %}

