<html>
<head>

    <title>Flujo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!--<script src="/static/js/jquery.formset.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">

    <form id="myForm" action="" method="post" class="">
        {% csrf_token %}
        <h2> Flujo</h2>
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}  {{ field }}
        {% endfor %}
        {{ form.fase.management_form }}

        <h3> Fase(s)</h3>
        <table id="table-product" class="table">
            <thead>
            <tr>
                <th>nombre fase</th>
            </tr>

            </thead>
            {% for player in fass %}
                <tbody class="player-instances">

                <tr>
                    <td>{{ player.nombre }}</td>
                </tr>

                </tbody>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary">guardar</button>
        <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>

    </form>
</div>
<script>
    $(function () {
        $('#myForm tbody tr').formset();
    })
</script>
</body>
</html>