{% extends 'proyecto/base.html' %}

{% block content %}
        <tbody>
        <dl class="col">
            <dt><b>Nombre de las fases: </b></dt>
            </dl>
            {% for pro in proy %}
                        <td><a>{{ pro.nombre }}</a></td>
                        <br>

            {% endfor %}
        </tbody>

{% endblock %}