

{% load guardian_tags %}


{% block title %}
    <title>Flujos</title>
{% endblock %}

{% block content_proy %}
    <table class="table table-bordered">
        <tbody>
            {% for pro in flujos %}
                {% if flujos %}

                        <tr>
                            <td><a href="/flujo/{{ pro.id }}/">{{ pro.nombre }}</a></td>
                         </tr>

                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% with flujos as items %}
        {% if items.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-left">
                    {% if items.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                    {% endif %}
                    {% for i in items.paginator.page_range %}
                        {% if items.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
    {% endwith %}
{% endblock %}