{% extends 'base/base.html' %}

{% block title %}
    <title>Editar Usuario</title>
{% endblock %}

{% block content %}
<div class="container" style="width: 80%">

    <h4 class="page-header" style="text-align: center">Cambiar contraseña: {{ user }}</h4>
        <form method="post">
          {% csrf_token %}
          {{ form }}<br>
          <button class="btn btn-primary" type="submit">Guardar</button>
          {% if usuario.tipo == 'AD' %}
            <a class="btn btn-secondary" href="{% url 'listarusuario' %}">Cancelar</a>
          {% else %}
            <a class="btn btn-secondary" href="{% url 'detalles' usuario.id %}">Cancelar</a>
          {% endif %}
        </form>
</div>

{% endblock %}