{% extends 'proyecto/base.html' %}

{% block content %}

    <div class="container" >
        <div class="row align-left">
            <div class="col-sm-6 ">
                <h5 class="col-sm-6"><i class="fa fa-user"></i>Datos Personales</h5>
            </div>
            <div class="col-sm-1">
                <a class="btn btn-primary" role="button" href="{% url 'index' %}">Atras</a>
            </div>
            <div class="col-sm-2">
                <a class="btn btn-primary" role="button" href="{% url 'modificar_usuario' request.user.id %}">Editar Usuario</a>
            </div>
            <div class="col-sm-3">
                <a class="btn btn-primary" role="button" href="{% url 'cambiar_password' request.user.id %}" >Cambiar contraseña</a>
            </div>
        </div>

    </div>

    <div class="justify-content-md-center">
            <ul class="-ul">

                <dl class="d-lg-inline">

                    <dt>Nombre de usuario: </dt>  <dd>{{ object.username }} </dd>
                    <dt>Nombres:</dt>             <dd>{{ object.first_name }} </dd>
                    <dt>Apellidos:</dt>           <dd>{{ object.last_name }}</dd>
                    <dt>Correo:</dt>              <dd>{{ object.email }} </dd>
                    <dt>Telefono:</dt>            <dd>{{ usuario.telefono }}</dd>
                    <dt>Dirección:</dt>           <dd>{{ usuario.direccion }} </dd>
                    <dt>Horas_laborales:</dt>     <dd>{{ usuario.horas_laborales }} </dd>
                    <dt>Horas_disponibles:</dt>   <dd>{{ usuario.horas_disponibles }}</dd>
                    <dt>Tipo de usuario:</dt>     <dd>{{ usuario.tipo }} </dd>



                </dl>
            </ul>

        </div>


{% endblock %}