{% extends 'base/base.html' %}


{% block content %}
<div class="container" style="width: 80%">

        <h4 class="page-header" style="text-align: center">Modificar datos adicionales de : {{ user }}</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form2.as_p }}
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-danger" href="{% url 'listarusuario' %}">Cancelar</a>
    </form>
</div>
{% endblock %}