{% extends 'base/base.html' %}

{% block title %}
    <title>Editar Usuario</title>
{% endblock %}

{% block content %}
<div class="container" style="width: 90%">

    <h4 class="page-header" style="text-align: center">Modificar Usuario: {{ user }}</h4>
    <form method="post">
        {% csrf_token %}

        {{form.as_p}}
        {{ form2.as_p }}
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-secondary" href="{% url 'listarusuario' %}">Cancelar</a>

    </form>
</div>

{% endblock %}