{% extends 'base/base.html' %}

{% block title %}
    <title>Listar Usuario</title>
{% endblock %}

{% block content %}
    <div class="container" style="width: 90%">
        <a class="btn btn-primary mt-3 mb-3" href="{% url 'crearusuario'%}">Crear Usuario</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <div class="container">
                            <div class="row">
                                <div class="col row ">
                                    <p class="col col">Nombre</p>
                                    <p class="col col">Apellido</p>
                                    <p class="col-2">Username</p>
                                    <p class="col-3">Correo</p>
                                    <p class="col-2">Tipo</p>
                                </div>
                                <p class="col-3"></p>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% if objeto_usuario %}
                    {% for usuario in objeto_usuario %}
                        {% if not usuario.user.is_superuser and not usuario.user.username == 'AnonymousUser'%}
                            <tr>
                                <td>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col row">
                                                <p class="col col">{{usuario.user.first_name}}</p>
                                                <p class="col col">{{usuario.user.last_name}}</p>
                                                <p class="col-2">{{usuario.user.username}}</p>
                                                <p class="col-3">{{usuario.user.email}}</p>
                                                {% if usuario.tipo == 'AD' %}
                                                    <p class="col-2"> Admin </p>
                                                {% else %}
                                                    <p class="col-2"> User </p>
                                                {% endif %}
                                            </div>
                                            <div class="col-3">
                                                <a class="btn-primary btn-sm btn mr-4" href="{% url 'modificar_usuario' usuario.id %}" >Editar</a>
                                                <a class="btn-sm btn-primary btn" href="{% url 'cambiar_password' usuario.id %}" >Cambiar Contraseña</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        {% endif %}

                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

{% endblock content %}