{% extends 'base/base.html' %}

{% block title %}
    <title>Registrar Usuario</title>
{% endblock %}

{% block content %}
    <div class="container" style="width: 90%">
        <form method="post">
            {% csrf_token %}
            <div class="mt-3">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                          <label>Nombre de usuario</label>
                          <input class="form-control" type="c" name="username" required >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group">
                          <label>Correo</label>
                          <input class="form-control" type="email" name="email" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="form-group float-right">
                            <button class="btn btn-primary mr-2" type="submit">Guardar</button>
                            <a class="btn btn-secondary" href="{% url 'listarusuario' %}">Cancelar</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

