{% extends 'base/base.html' %}

{% block title %}
    <title>Gestion de Roles</title>
{% endblock %}

{% block content %}
    <div class="container" style="width: 90%">
        <div class="mb-3">
            <h1>Crear Rol</h1>
        </div>
        <form method="POST" class="post-form">
        {% csrf_token %}
            <div class="mb-3">
            <span>Nombre: </span>
            {{ form.nombre }}
            </div>
            <span>Permisos:</span><br/>
            {% for perm in form.permisos %}
                <div class="mt-2 ml-5">
                    {{ perm }}<br/>
                </div>
            {% endfor %}
            <div class="float-right mb-2">
                <button class="btn btn-primary mr-2" type="submit">Guardar</button>
                <a class="btn btn-secondary" href="{% url 'listarrol' %}">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock content %}