{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>Sprint {{ sprint.id }}</title>
{% endblock %}

<script>
{% block jquery %}
    //let endpoint = {/% url 'get_data' sprint_id%}
    var endpoint = 'datos'
    var defaultData = []
    var planificacionData = []
    var labels = []
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            labels = data.labels
            defaultData = data.default
            planificacionData = data.data
            setchart()
        },
        error: function (error_data) {
            console.log("Error")
            console.log(error_data)
        }
    })

    function setchart() {
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    data: defaultData,
                    label: 'Trabajo realizado',
                    backgroundColor: 'rgba(92,184,92,0.4)',
                    borderColor: 'rgb(92,184,92)',
                    borderWidth: 2,
                    lineTension: 0
                },{
                    data: planificacionData,
                    label: 'Trabajo planificado',
                    backgroundColor: 'rgba(108,117,125,0.1)',
                    borderColor: 'rgb(108,117,125)',
                    borderWidth: 1,
                    lineTension: 0
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }
{% endblock %}
</script>

{% block content %}

    <div>
        <div class="container mb-2">
            <div class="row">
                <div class="col-lg-1">
                    <a class="btn btn-secondary" href="{% url 'ver_sprint' sprint.id %}">Atras</a>
                </div>
                <div class="col">
                    <h1>{{ sprint.proyecto.nombre }} - {{ sprint.nombre }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="chart-container" style="position: relative; height:40vh; width:80vw">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock %}