{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Crear y Editar Sprint</title>
{% endblock %}

{% block content %}
    <h1>{{ titulo }}</h1>
    <form method="POST" class="sprint-form">{% csrf_token %}
        {{ form.as_p }}
        {% if not titulo == 'Cancelar sprint' %}
            <p>La duración del sprint debe especificarse en días.</p>
        {% endif %}

        <button class="btn btn-primary" type="submit">Guardar</button>
        {% if titulo == 'Editar sprint' %}
            <a class="btn btn-secondary" href="/sprint/{{ sprint_id }}/">Cancelar</a>
        {% elif titulo == 'Cancelar sprint' %}
            <a class="btn btn-secondary" href="{% url 'ver_sprint' sprint_id %}">Cancelar</a>
        {% else %}
            <a class="btn btn-secondary" href="/sprint/{{ proyecto_id }}/listar/">Cancelar</a>
        {% endif %}
    </form>
{% endblock %}