<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reporte US pendientes</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Reporte de US con maxima prioridad en el Sprint </h3>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>User Story</th>
                <th>Horas Trabajadas</th>
                <th>Usuario Encargado</th>
            </tr>
            </thead>
            <tbody>
            {% for us in us_no_terminados %}
                <tr>
                    <td>{{ us.nombre }}</td>
                    <td>{{ us.trabajo_realizado }}</td>
                    {% if us.usuario_asignado %}
                        <td>{{ us.usuario_asignado.user.first_name }} {{ us.usuario_asignado.user.last_name }}</td>
                    {% else %}
                        <td>No hay usuarios asignados al User Story</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>