{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>Sprints</title>
{%  endblock %}

{% block content %}

    {% get_obj_perms request.user for proyecto as "permisos_en_proyecto" %}
    <div class="row">
        <div class="col-lg-1">
            {% if atras == 1 %}
            <a class="btn btn-secondary" href="{% url 'ver_proyecto' proyecto_id %}">Atras</a>
            {% elif atras == 2 %}
            <a class="btn btn-secondary" href="{% url 'index' %}">Atras</a>
            {% endif %}
        </div>
        <div class="col">
            <h1>Sprints: {{ proyecto_nombre }}</h1>
        </div>
    </div>

    {% if sprints %}
        <table class="table table-bordered">
            <tbody>
                {% for sprint in sprints %}
                        <tr>
                            <td>
                                <a href="/sprint/{{ sprint.id }}/">{{ sprint.nombre }}</a>
                                {% if sprint.is_cancelado %}
                                    <span class="px-md-3 badge badge-danger">Cancelado</span>
                                {% elif sprint.is_pausado%}
                                    <span class="px-md-3 badge badge-warning">Pausado</span>
                                {% elif sprint.is_activo %}
                                    <span class="px-md-3 badge badge-success">Activo</span>
                                {% elif sprint.is_finalizado%}
                                    <span class="px-md-3 badge badge-success">Finalizado</span>
                                {% else%}
                                    <span class="px-md-3 badge badge-info">Pendiente</span>
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron sprints asociados a este proyecto</p>
    {% endif %}
    {% with sprints as items %}
        {% if items.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-left">
                    {% if items.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                    {% endif %}
                    {% for i in items.paginator.page_range %}
                        {% if items.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
    {% endwith %}
    {% if 'crear_sprint' in permisos_en_proyecto %}
        {% if proyecto.cant_sprints == 1 and proyecto.sprint_activo != 0 or proyecto.cant_sprints == 0 %}
            <a class="btn btn-primary" href="/sprint/{{ proyecto_id }}/crear">Crear Sprint</a>
        {% endif %}
    {% endif %}
{% endblock %}