{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>Miembros</title>
{%  endblock %}

{% block content %}
    <h1>Agregar miembro</h1>

    <form method="get">
        <div class="mb-3 w-50">
            {{ filter.form.as_p }}
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
      </form>
      <div>
          <div class="container table-bordered">
              <div class="row pt-2">
                  <h6 class="col">Usuario</h6>
                  <h6 class="col">Nombre</h6>
                  <h6 class="col">Apellido</h6>
                  <p class="col"></p>
              </div>
          </div>
          {% for usuario in filter.qs %}
            <div class="container table-bordered">
                <div class="row pt-2">
                    <p class="col">{{ usuario.user.username }}</p>
                    <p class="col">{{ usuario.user.first_name }}</p>
                    <p class="col">{{ usuario.user.last_name }}</p>
                    <div class="col-sm-2">
                        <a class="btn btn-primary btn-sm ml-5" href="{% url 'agregar_miembro_sprint' sprint_id usuario.user.username %}">Agregar</a>
                    </div>
                </div>
            </div>
          {% endfor %}
      </div>

    <a class="btn btn-danger mt-3" href="{% url 'ver_sprint' sprint_id %}">Cancelar</a>

{% endblock %}