{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>{{ sprint.nombre }}</title>
{% endblock %}

{% block content %}
    <div class="">
    {% get_obj_perms request.user for sprint.proyecto as "permisos_en_sprint" %}
    <!--{/% if "view_sprint" in permisos_en_proyecto %}-->
        <div class="container mb-2">
            <div class="row">
                <div class="col-lg-1">
                    <a class="btn btn-secondary" href="{% url 'listar_sprints' sprint.proyecto_id %}">Atras</a>
                </div>
                <div class="col">
                    <h1>{{ sprint.proyecto.nombre }} - {{ sprint.nombre }}</h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        {% if 'editar_sprint' in permisos_en_sprint and sprint.is_pendiente %}
                            <a class="btn btn-secondary" href="{% url 'editar_sprint' sprint.id %}">Cambiar duracion</a>
                        {% endif %}

                        {% if 'importar_tus' in permisos_en_sprint and sprint.is_pendiente %}
                            <a class="btn btn-secondary" href="{% url 'listar_us' sprint.id %}">Importar US</a>
                        {% endif %}

                        {% if sprint.is_pendiente or us_libres > 0 and 'crear_us' in permisos_en_sprint %}
                            <a class="btn btn-secondary" href="{% url 'listar_us_sprint' sprint.id %}">Asignar US</a>
                        {% endif %}
                        <a class="btn btn-secondary" href="{% url 'ver_reporte_us_pendientes' sprint.id %}">US con Prioridad Maxima</a>

                        <!-- Agregar condicion de cantidad_flujos > 0 y cantidad_fases > 0 -->
                        <!-- {/% if not user.is_superuser and proy.estado == 'A' %}-->
                        <!-- {/% endif %}-->
                        {% if not sprint.is_pendiente %}
                            <a class="btn btn-secondary" href="{% url 'burndownChartSprint' sprint.id %}">BurndownChart</a>
                        {% endif %}
                        <a class="btn btn-secondary" href="{% url 'reporte_SB' sprint.id %}">Reporte</a>
                    </div>

                    <dl class="col">
                        <dt><b>Fecha de Inicio: </b></dt>
                        {% if sprint.fecha_inicio == None %}
                            <dd>No definido</dd>
                        {% else  %}
                            <dd>{{ sprint.fecha_inicio }}</dd>
                        {% endif %}

                        <dt><b>Fecha de Finalizacion: </b></dt>
                        {% if sprint.fecha_fin == None %}
                            <dd>No definido</dd>
                        {% else  %}
                            <dd>{{ sprint.fecha_fin }}</dd>
                        {% endif %}

                        <dt><b>Duración: </b></dt>
                        <dd> {{ sprint.duracion }}
                            {% if sprint.duracion == 1 %}
                                dia
                            {% else %}
                                dias
                            {% endif %}
                        </dd>

                        <dt><b>Capacidad: </b></dt>
                        <dd> {{ sprint.capacidad }} horas </dd>

                        <dt><b>Trabajo por realizar: </b></dt>
                        <dd> {{ sprint.trabajo_por_realizar }} horas </dd>

                        <dt><b>Saldo: </b></dt>
                        <dd> {{ saldo }} horas </dd>

                        <dt><b>Estado: </b></dt>
                        {% if sprint.is_activo %}
                            <dd>Activo</dd>
                        {% elif sprint.is_finalizado %}
                            <dd>Finalizado</dd>
                        {% elif sprint.is_cancelado %}
                            <dd>Cancelado</dd>
                            <dd><b>Justificación:</b> {{ sprint.justificacion }}</dd>
                        {% elif sprint.is_pausado %}
                            <dd>Pausado</dd>
                        {% elif sprint.is_pendiente %}
                            <dd>Pendiente</dd>
                        {% endif %}

                        <dt><b>Miembros: </b></dt>
                        <dd>
                            <table>
                                <tbody>
                                {% if usuarios %}
                                    {% for user in usuarios %}
                                        <tr>
                                            {% if user.first_name %}
                                                <td class="container-fluid">
                                                    {{ user.first_name }} {{ user.last_name }}
                                                    {% if not user.username == sprint.proyecto.scrum.user.username and usuario_actual == sprint.proyecto.scrum and not sprint.estado == 'F' and not sprint.estado == 'C' %}
                                                        <a class="close float-right col-1" aria-label="Close" href="{% url 'remover_miembro_sprint' sprint.id user.username %}">
                                                            {% if 'remover_miembro' in permisos_en_sprint %}
                                                            <span aria-hidden="true">&times;</span>
                                                            {% endif %}
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td class="container-fluid">
                                                    {{ user.username }}
                                                    {% if not user.username == sprint.proyecto.scrum.user.username and usuario_actual == sprint.proyecto.scrum and not sprint.estado == 'F' and not sprint.estado == 'C' %}
                                                        <a class="close float-right col-1" aria-label="Close" href="{% url 'remover_miembro_sprint' sprint.id user.username %}">
                                                            {% if 'remover_miembro' in permisos_en_sprint %}
                                                            <span aria-hidden="true">&times;</span>
                                                            {% endif %}
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                         </tr>
                                    {% endfor %}
                                {% else %}
                                    No se encontro ningun usuario vinculado al sprint
                                {% endif %}
                                </tbody>
                            </table>
                        </dd>
                        {% if 'asignar_miembro_sprint' in permisos_en_sprint and sprint.is_pendiente %}
                            {% if sprint.miembros.count > 1 %}
                                <a class="btn btn-primary" href="{% url 'search_sprint_miembro' sprint.proyecto.id sprint.id %}">Agregar miembro</a>
                            {% else %}
                                <a class="btn btn-danger" href="{% url 'search_sprint_miembro' sprint.proyecto.id sprint.id %}">Agregar miembro</a>
                            {% endif %}
                        {% endif %}
                    </dl>
                </div>
                <div class="col">
                    <div class="alert list-group-item" style="background-color: #fafafa">
                    <h3>Sprint Backlog</h3>
                    <table class="table table-bordered">
                        <tbody>
                            {% if user_stories %}
                                <tr>
                                    <div class="row">
                                        <div class="col"><strong>User Story</strong></div>
                                        <div class="col"><strong>Encargado</strong></div>
                                        <div class="col"></div>
                                    </div>
                                </tr>
                                <tr>
                                    <td>
                                        {% for us in user_stories %}
                                            {% if user_stories %}
                                                    <div class="row">
                                                        <div class="col">
                                                            {% if us.usuario_asignado %}
                                                                <a href="/proyecto/{{ sprint.proyecto_id }}/user-stories/{{ us.id }}/">{{ us.nombre }}</a>
                                                            {% else %}
                                                                <a class="text-danger" href="/proyecto/{{ sprint.proyecto_id }}/user-stories/{{ us.id }}/">{{ us.nombre }}</a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="col">
                                                            {% if us.usuario_asignado %}
                                                                {% if user.first_name %}
                                                                    <dd>{{ us.usuario_asignado.user.first_name }} {{ us.usuario_asignado.user.last_name }}</dd>
                                                                {% else %}
                                                                    <dd>{{ actividad.autor }}</dd>
                                                                {% endif %}
                                                            {% else %}
                                                                Sin Encargado
                                                            {% endif %}
                                                        </div>
                                                        <div class="col">
                                                            {% if sprint.is_pendiente %}
                                                                {% if us.usuario_asignado %}
                                                                    <a class="close float-right" aria-label="Close" href="{% url 'desasignar_usuario_us' sprint.id us.usuario_asignado.user.username us.id 1 %}">
                                                                        {% if 'crear_us' in permisos_en_sprint %}
                                                                        <span aria-hidden="true">&times;</span>
                                                                        {% endif %}
                                                                    </a>
                                                                {% else %}
                                                                    <a class="close float-right" aria-label="Close" href="{% url 'quitar_us' sprint.id us.id %}">
                                                                        {% if 'crear_us' in permisos_en_sprint %}
                                                                        <span aria-hidden="true">&times;</span>
                                                                        {% endif %}
                                                                    </a>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% else %}
                                {{ "No se encontraron US en el backlog" }}
                            {% endif %}
                        </tbody>
                    </table>
                    {% with user_stories as items %}
                        {% if items.has_other_pages %}
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-left">
                                    {% if items.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                                    {% endif %}
                                    {% for i in items.paginator.page_range %}
                                        {% if items.number == i %}
                                            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if items.has_next %}
                                        <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                                    {% endif %}
                                </ul>
                            </nav>
                            {% endif %}
                    {% endwith %}
                    </div>


                </div>
            </div>

            {% if not sprint.is_cancelado and 'editar_sprint' in permisos_en_sprint %}
                        <div class="container-fluid">
                            <div class="mb-3 float-right">
                                <!-- El proyecto puede estar en cualquier estado -->
                                <a class="btn btn-danger float-right ml-2" href="{% url 'cancelar_sprint' sprint.id %}">Cancelar Sprint</a>

                            <!-- Solo si el proyecto esta activo -->
                            {% if sprint.is_activo and not us_pendientes %}
                                <a class="btn btn-primary float-right" href="{% url 'finalizar_sprint' sprint.id %}">Finalizar</a>
                            {% endif %}

                                <!-- Solo si el proyecto esta pendiente -->
                                {% if sprint.is_pendiente and sprint.proyecto.sprint_activo == 0 and sprint.miembros.count > 1 and us_libres == 0 %}
                                    <a class="btn btn-primary float-right" href="{% url 'cambiar_estado_sprint' sprint.id 'A' %}">Iniciar</a>
                                {% endif %}

                                <!-- Solo si el proyecto esta pausado -->
                                {% if sprint.is_pausado and sprint.proyecto.sprint_activo == sprint.id %}
                                    <a class="btn btn-primary float-right" href="{% url 'cambiar_estado_sprint' sprint.id 'A' %}">Continuar</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

        </div>
    <!--{/% endif %}-->
    </div>
{% endblock %}
