{% extends 'proyecto/base.html' %}

{% block title %}
    {% if not cancelar %}
    <title>Proyecto {{ proy.id }}</title>
    {% endif %}
    {% if cancelar %}
    <title>Cancelacion del Proyecto {{ proy.id }}</title>
    {% endif %}

{% endblock %}

{% block content %}
    {% if cancelar %}
    <h1>Cancelacion del Proyecto: {{ proy.nombre }}</h1>
    {% endif %}
    {% if not cancelar %}
    <h1>Edicion del Proyecto {{ proy.id }}</h1>
    {% endif %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form_editar.as_p }}
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-secondary" href="{% url 'ver_proyecto' proy.id %}">Cancelar</a>
    </form>
{% endblock %}