<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
</head>
<body>
    {% if request.session.is_empty %}
        <h2>No puede acceder a este sitio</h2>
        <p><a href="/">Inicie Sesión</a> para continuar.</p>
    {% elif request.user.is_superuser %}
        <h2>Acceso denegado</h2>
        <h3>No puede acceder a esta sección</h3>
        <p>Volver a la <a href="/home">Pagina Principal</a></p>
    {% else %}
        <h2>Acceso denegado</h2>
        <h3>No puede acceder a esta sección</h3>
    {% endif %}
</body>
</html>