{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Rechazo de US {{ us.id }}</title>
{% endblock %}

{% block content %}
    <h1 class="align-center">Rechazo de US {{ us.id }}</h1>

    <form method="POST" >
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-secondary" href="{% url 'ver_proyecto' proyecto_id %}">Cancelar</a>
    </form>


{% endblock %}

