{% load guardian_tags %}


{% block title %}
    <title>Proyectos</title>
{% endblock %}

{% block content_proy %}
    <table class="table table-bordered">
        <tbody>
            {% if proyectos %}
                {% for proy in proyectos %}
                    {% get_obj_perms request.user for proy as "permisos_en_proyecto" %}
                    {% if 'view_proyecto' in permisos_en_proyecto %}
                        <tr>
                            <td><a href="/proyecto/{{ proy.id }}/">{{ proy.nombre }}</a>
                            {% if "ver_sprint" in permisos_en_proyecto %}
                                <a class="btn btn-primary float-right ml-1" href="/sprint/{{ proy.id }}/listar/">Ver Sprints</a>
                            {% endif %}
                            </td>
                         </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    {% with proyectos as items %}
        {% if items.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-left">
                    {% if items.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&laquo;</span></a></li>
                    {% endif %}
                    {% for i in items.paginator.page_range %}
                        {% if items.number == i %}
                            <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link" href="#"><span>&raquo;</span></a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
    {% endwith %}
{% endblock %}