{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>Miembros</title>
{%  endblock %}

{% block content %}
    <h1>Agregar miembro</h1>

    <form method="get">
        {{ filter.form.as_p }}
        <button class="btn btn-primary" type="submit">Buscar</button>
      </form>
      <table class="table table-bordered">
        <thead>
            <tr>
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
        </thead>
        <tbody>
          {% for user in filter.qs %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td><a class="btn btn-primary" href="{% url 'search_rol_proyecto' proyecto_id user.username %}">Agregar</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    <a class="btn btn-secondary" href="{% url 'ver_proyecto' proyecto_id %}">Cancelar</a></td>

{% endblock %}
