{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Crear Proyecto</title>
{% endblock %}

{% block content %}
    <h1>Nuevo Proyecto</h1>
    <form method="POST" class="proyecto-form">{% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
    </form>
{% endblock %}