<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Reporte</title>
    <style type="text/css">
        @page {
            size: A4;
            margin: 1cm;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 5px;
            background-color: #fff;
        }
        .table th,
        .table td {
            padding: 5px;
            vertical-align: top;
            border-top: 1px solid #000;
            text-align: center;
        }
        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #000;
        }
        .table tbody + tbody {
            border-top: 2px solid #000;
        }
        .table .table {
            background-color: #fff;
        }
        .list-group {
            display: block;
            width: 100%;
            list-style: none;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        .list-group p {
            width: 100%;
            height: 20px;
            line-height: 20px;
            list-style: none;
            font-size: 1.1em;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Reporte de Product Backlog </h3>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Usuario Asignado</th>
            </tr>
            </thead>
            <tbody>
            {% for u in us %}
                <tr>
                    <td>{{ u.nombre }}</td>
                    {% if u.estado_proyecto == 'N' and u.iniciado %}
                        <td>Incompleto</td>
                    {% elif u.estado_proyecto == 'N' %}
                        <td>No Iniciado</td>
                    {% elif u.estado_proyecto == 'P' %}
                        <td>En Proceso</td>
                    {% elif u.estado_proyecto == 'F' %}
                        <td>Finalizado</td>
                    {% elif u.estado_proyecto == 'C' %}
                        <td>Cancelado</td>
                    {% endif %}
                    <td>{{ u.usuario_asignado }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>