{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>Proyecto {{ proy.id }}</title>
{% endblock %}

{% block content %}
    {% if alert == '1' %}
        <div class="alert alert-danger" role="alert">
            Cree un nuevo sprint para continuar.
        </div>
    {% elif alert == '2' %}
        <div class="alert alert-danger" role="alert">
            Hay mas de un sprint en estado pendiente. Seleccione uno para continuar.
        </div>
    {% elif alert == '3' %}
        <div class="alert alert-danger" role="alert">
            El usuario seleccionado estará trabajando en otro proyecto en la fecha de este proyecto.
        </div>
    {% endif %}
    {% get_obj_perms request.user for proy as "permisos_en_proyecto" %}
    {% if "view_proyecto" in permisos_en_proyecto %}
        <div class="container mb-4">
            <div class="row">
                <div class="col-lg-1">
                    <a class="btn btn-secondary" href="{% url 'index' %}">Atras</a>
                </div>
                <div class="col">
                    <h2>Proyecto {{ proy.id }}: {{ proy.nombre }} </h2>
                </div>
                <div class="col-lg-2">
                    {% if 'change_proyecto' in permisos_en_proyecto and not proy.is_cancelado and not proy.estado == 'F' %}
                        <a class="btn btn-secondary" href="{% url 'editar_proyecto' proy.id %}">Editar Proyecto</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    {% if not proy.is_cancelado and not proy.estado == 'F' %}
                        <div class="mb-3">
                            {% if proy.is_pendiente or not cliente %}
                                {% if 'agregar_cliente' in permisos_en_proyecto %}
                                    {% if cliente %}
                                        <a class="btn btn-primary" href="{% url 'editar_cliente' proy.id %}">Editar cliente</a>
                                        <a class="btn btn-primary" href="{% url 'eliminar_cliente' proy.id %}">Eliminar cliente</a>
                                    {% else %}
                                        <a class="btn btn-primary" href="{% url 'crear_cliente' proy.id %}">Crear cliente</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if 'crear_us' in permisos_en_proyecto  %}
                                <a class="btn btn-secondary" href="{% url 'crear_user_story' proy.id %}">Agregar US</a>
                            {% endif %}
                            {% if 'crear_tus' in permisos_en_proyecto %}
                                <a class="btn btn-secondary" href="{% url 'creartipous' proy.id %}">Agregar TipoUS</a>
                            {% endif %}
                            {% if 'importar_tus' in permisos_en_proyecto %}
                                <a class="btn btn-secondary" href="{% url 'listaimportar' proy.id %}">Importar TipoUS</a>
                            {% endif %}

                            {% if not user.is_superuser and not proy.is_pendiente and not proy.is_cancelado and kanban%}
                                <a class="btn btn-secondary mt-1" href="{% url 'verkanban' proy.id %}">Ver tablero kanban</a>
                            {% endif %}
                             <a class="btn btn-secondary mt-1" href="{% url 'reporte_Product_Backlog' proy.id %}">Reporte Product Backlog</a>
                        <a class="btn btn-secondary mt-1" href="{% url 'reporte_Horas_Trabajadas' proy.id %}">Reporte Total Trabajadas</a>
                        <a class="btn btn-secondary mt-1" href="{% url 'reporte_eficiencia' proy.id %}">Reporte de Eficiencia</a>
                        </div>
                    {% endif %}

                    <dl class="col">
                        {% if proy.fecha_inicio %}
                        <dt><b>Fecha de Inicio: </b></dt>
                        <dd>{{ proy.fecha_inicio }}</dd>
                        {% endif %}
                        <dt><b>Fecha de Finalizacion: </b></dt>
                        <dd>{{ proy.fecha_fin }}</dd>

                        <dt><b>Estado: </b></dt>
                        {% if proy.estado == 'A' %}
                            <dd>Activo</dd>
                        {% elif proy.estado == 'F' %}
                            <dd>Finalizado</dd>
                        {% elif proy.estado == 'C' %}
                            <dd>Cancelado</dd>
                        {% elif proy.estado == 'P' %}
                            <dd>Pendiente</dd>
                        {% elif proy.estado == 'S' %}
                            <dd>Pausado</dd>
                        {% endif %}
                        <dt><b>Cliente: </b></dt>
                        {% if cliente %}
                            <dd>{{ cliente.empresa }}</dd>
                            <dd>{{ cliente.nombre }} - Tel.:{{ cliente.telefono }}</dd>
                        {% else %}
                            <dd>{{ 'No se ha especificado un cliente en este proyecto' }}</dd>
                        {% endif %}
                        <dt><b>Scrum Master: </b></dt>
                        <dd> {{ proy.scrum }} </dd>
                        <dt><b>Miembros: </b></dt>
                        <dd>
                            <table>
                                <tbody>
                                {% if usuarios %}
                                    {% for user in usuarios %}
                                        <tr>
                                            {% if user.user.first_name %}
                                                <td class="container-fluid">
                                                    {{ user.user.first_name }} {{ user.user.last_name }}
                                                    {% if not user.en_sprint == proy.id and not user.user.username == proy.scrum.user.username and usuario_actual.user == proy.scrum and not proy.is_finalizado and not proy.is_cancelado %}
                                                        <a class="close float-right col-1" aria-label="Close" href="{% url 'remover_miembro_proyecto' proy.id user.user.username %}">
                                                            <span aria-hidden="true">&times;</span>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td class="container-fluid">
                                                    {{ user.user.username }}
                                                    {% if not user.en_sprint == proy.id and not user.user.username == proy.scrum.user.username and usuario_actual.user == proy.scrum and not proy.is_finalizado and not proy.is_cancelado %}
                                                        <a class="close float-right col-1" aria-label="Close" href="{% url 'remover_miembro_proyecto' proy.id user.user.username %}">
                                                            <span aria-hidden="true">&times;</span>
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    No se encontro ningun usuario vinculado al proyecto
                                {% endif %}
                                </tbody>
                            </table>
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <div class="alert list-group-item" style="background-color: #fafafa;">
                        <h3>Product Backlog</h3>
                        <div style="height:200px; overflow-y: scroll;">
                            <table class="table table-bordered">
                                <tbody>
                                    {% if user_stories %}
                                        <tr>
                                            <th>User Story</th>
                                            <th>Prioridad</th>
                                            <th>Estado</th>
                                        </tr>
                                        {% for us in user_stories_no_terminados %}
                                            <tr>
                                                <td><a href="/proyecto/{{ proy.id }}/user-stories/{{ us.id }}/">{{ us.nombre }}</a></td>
                                                <td>{{ us.prioridad_final }}</td>
                                                <td>Incompleto</td>
                                            </tr>
                                        {%endfor %}
                                        {% for us in user_stories_no_iniciados %}
                                            <tr>
                                                <td><a href="/proyecto/{{ proy.id }}/user-stories/{{ us.id }}/">{{ us.nombre }}</a></td>
                                                <td>{{ us.prioridad_final }}</td>
                                                <td>No Iniciado</td>

                                            </tr>
                                        {%endfor %}
                                        {% for us in user_stories_terminados_cancelados %}
                                            <tr>
                                                <td><a href="/proyecto/{{ proy.id }}/user-stories/{{ us.id }}/">{{ us.nombre }}</a></td>
                                                {% if not us.estado_proyecto == 'P' %}
                                                    <td></td>
                                                {% else %}
                                                    <td>{{ us.prioridad_final }}</td>
                                                {% endif %}
                                                {% if us.estado_proyecto == 'P' %}
                                                    <td>En Ejecucion</td>
                                                {% endif %}
                                                {% if us.estado_proyecto == 'F' %}
                                                    <td>Finalizado</td>
                                                {% endif %}
                                                {% if us.estado_proyecto == 'C' %}
                                                    <td>Cancelado</td>
                                                {% endif %}
                                            </tr>
                                        {%endfor %}
                                    {% else %}
                                        No se encontraron US en este proyecto
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div style="height:20px"></div>
                    {% if 'crear_us' in permisos_en_proyecto  %}
                    <div class="alert list-group-item" style="background-color: #fafafa;">
                        <h3>US por revisar</h3>
                        <div style="height:200px; overflow-y: scroll;">
                            <table class="table table-bordered">
                                <tbody>
                                    {% if user_stories %}
                                        <tr>
                                            <th>User Story</th>
                                            <th>Acciones</th>
                                        </tr>
                                        {% for us in us_pendientes %}
                                            <tr>
                                                <td><a href="/proyecto/{{ proy.id }}/user-stories/{{ us.id }}/">{{ us.nombre }}</a></td>
                                                <td>

                                                    <form action="{% url 'aceptar' proy.id %}" method="get">

                                                        <button type="submit"
                                                                class="btn btn-info border-bottom-0 active align-center"
                                                                id="flujo" value="{{ us.id }}"  name="aceptar"
                                                                style="text-align: center">Aceptar
                                                        </button>
                                                        <a class="btn btn-danger border-bottom-0 align-right" href="{% url 'rechazar_us' proy.id us.id %}">
                                                            Rechazar</a>
                                                    </form>


                                                </td>
                                            </tr>
                                        {%endfor %}

                                    {% else %}
                                        No se encontraron US en este proyecto
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if not proy.estado == 'C' and not proy.estado == 'F' %}
            <div class="container-fluid">

                {% if 'asignar_miembro' in permisos_en_proyecto and proy.is_activo or 'asignar_miembro' in permisos_en_proyecto and proy.is_pendiente %}
                    <a class="btn btn-primary float-left mr-2 mb-3" href="{% url 'search_proy' proy.id %}">Agregar miembro</a>
                {% endif %}

                {% if 'ver_sprint' in permisos_en_proyecto %}
                    <a class="btn btn-primary float-left mb-3" href="{% url 'listar_sprints' proy.id %}">Ver Sprints</a><br />
                {% endif %}
            </div>
            {% endif %}
            {% if 'change_proyecto' in permisos_en_proyecto %}
                {% if not proy.is_cancelado %}
                    <div class="container-fluid">
                        <div class="mb-3 float-right">
                            <!-- Solo si el proyecto esta pendiente -->
                            {% if proy.is_pendiente and sprint.is_pendiente and sprint.proyecto.sprint_activo == 0 and sprint.miembros.count > 1 and us_libres == 0 %}
                                <a class="btn btn-primary" href="{% url 'cambiar_estado_proyecto' proy.id 'A' %}">Iniciar</a>
                            {% endif %}

                            <!-- Solo si el proyecto esta pausado -->
                            {% if proy.is_pausado and sprint.is_pendiente and sprint.proyecto.sprint_activo == 0 and sprint.miembros.count > 1 and us_libres == 0 %}
                                <a class="btn btn-primary" href="{% url 'cambiar_estado_proyecto' proy.id 'A' %}">Continuar</a>
                            {% endif %}

                            <!-- El proyecto puede estar en cualquier estado -->
                            {% if not proy.estado == 'C'%}
                                <a class="btn btn-danger ml-2" href="{% url 'cancelar_proyecto' proy.id %}">Cancelar proyecto</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <h2>Acceso denegado</h2><br/>
        <a href="{% url 'index' %}">Pagina principal</a>
    {% endif %}
{% endblock %}