{% extends 'base/base.html' %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-primary" type="submit">Guardar</button>
    <a class="btn btn-secondary" href="{% url 'ver_actividad' proyecto_id us_id actividad.id %}">Cancelar</a>
  </form>
{% endblock %}