{% extends 'base/base.html' %}

{% block title %}
    {% if operacion == 1 %}
        <title>Creacion de actividad</title>
    {% else %}
        <title>Actividad {{ actividad.id }}</title>
    {% endif %}
{% endblock %}

{% block content %}
    {% if operacion == 1 %}
        <h1>Creacion de Actividad</h1>
    {% elif operacion == 2 %}
        <h1>Cancelar Actividad {{ actividad.id }}</h1>
    {% elif operacion == 3 %}
        <h1>Adjuntar archivo a la Actividad {{ actividad.id }}</h1>
    {% else %}
        <h1>Edicion de la Actividad {{ actividad.id }}</h1>
    {% endif %}
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Guardar</button>
        {% if operacion == 1 %}
            <a class="btn btn-secondary" href="{% url 'ver_user_story' proyecto_id us_id %}">Cancelar</a>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'ver_actividad' proyecto_id us_id actividad.id %}">Cancelar</a>
        {% endif %}
    </form>
{% endblock %}