{% extends 'base/base.html' %}

{% block title %}
    <title>Actividad {{ actividad.id }}</title>
{% endblock %}

{% block content %}
    {% if not user.is_superuser and us.usuario_asignado == usuario or proy.scrum == usuario and not user.is_superuser %}
        {% if us.estado_proyecto == 'N' or us.estado_proyecto == 'P' %}
            <a class="btn btn-secondary" href="{% url 'editar_actividad' proy.id us_id actividad_id %}">Editar</a>
            <a class="btn btn-secondary" href="{% url 'cancelar_actividad' proy.id us_id %}">Cancelar</a>
        {% endif %}
    {% endif %}
    <a class="btn btn-secondary" href="{% url 'ver_user_story' proy.id us_id %}">Atras</a><br>
    <h1>Actividad {{ actividad.id }}</h1>
    <div class="row">
        <dl class="col">
            <dt><b>Descripcion: </b></dt>
            <dd>{{ actividad.descripcion }}</dd>
            <dt><b>Fecha de Realizacion: </b></dt>
            <dd>{{ actividad.fecha_cargado }}</dd>
            <dt><b>Autor:</b></dt>
            {% if user.first_name %}
                <dd>{{ actividad.autor.user.first_name }} {{ actividad.autor.user.last_name }}</dd>
            {% else %}
                <dd>{{ actividad.autor }}</dd>
            {% endif %}
            <dt><b>Trabajo realizado: </b></dt>
            {% if not actividad.trabajo %}
                <dd>No se trabajo en el User Story</dd>
            {% else %}
                <dd>{{ actividad.trabajo }} horas hombre</dd>
            {% endif %}
            <dt><b>Archivo adjunto: </b></dt>
            {% if hay_archivo %}
                <dd><a href="{% url 'ver_archivo' proy.id us_id actividad_id %}">Ver archivo adjunto</a></dd>
            {% else %}
                <dd>No hay ningun archivos adjuntos a la Actividad</dd>
            {% endif %}
        </dl>
    </div>

{% endblock %}