{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>Roles</title>
{%  endblock %}

{% block content %}
    <h1>Agregar rol</h1>

    <form method="get">
        {{ filter.form.as_p }}
        <button class="btn btn-primary" type="submit">Buscar</button>
      </form>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Rol</th>
              </tr>
          </thead>
          <tbody>
              {% for rol in filter.qs %}
                <tr>
                    <td>{{ rol.nombre }}</td>
                    <td><a class="btn btn-primary" href={% url 'agregar_miembro_proyecto' proyecto_id usuario rol.nombre %}>Agregar</a></td>
                </tr>
              {% endfor %}
          </tbody>
      </table>
    <a class="btn btn-secondary" href="{% url 'ver_proyecto' proyecto_id %}">Cancelar</a></td>

{% endblock %}