{% extends 'proyecto/base.html' %}
{% load guardian_tags %}

{% block title %}
    <title>Roles</title>
{%  endblock %}

{% block content %}
<div class="container mt-2" style="width: 100%">
    <h1>Roles</h1>

    <form method="get" class="container-fluid">
        <div class="row" style="width: 60%;">
            <div class="col-8 mt-1">
                {{ filter.form }}
            </div>
            <div class="col-4">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </div>
    </form>
    <table class="table table-bordered mt-2">
        <thead>
            <tr>
                <th>Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for rol in filter.qs %}
                <tr>
                    <td>
                        <div class="container row">
                            <p class="col">{{ rol.nombre }}</p>
                            <div class="col-sm-1">
                                <a class="btn btn-primary" href={% url 'editarrol' rol.nombre %}>Editar</a>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="container-fluid">
        <div class="float-right">
            <a class="btn btn-primary mr-2" href={% url 'crearrol' %}>Crear rol</a>
            <a class="btn btn-secondary" href="{% url 'index' %}">Cancelar</a>
        </div>
    </div>
</div>
{% endblock %}
