{% extends 'proyecto/base.html' %}

{% block title %}
    <title>Tablero Kanban</title>
{% endblock %}

{% block content %}

    <a class="btn btn-secondary" href="{% url 'ver_proyecto' proy.id %}">Atras</a>
    <div style="height:40px"></div>
    <h2>Tablero Kanban</h2>

    <div class="col-lg">
        <div class="row">
            {% for flujo in flujos %}
                <form action="#" method="get">

                    <button type="submit "
                            {% if flujo == flujo_actual %}
                            class="btn-dark border-bottom-0 active"
                            {% endif %}
                            {% if not flujo == flujo_actual %}
                            class="btn-dark border-bottom-0"
                            {% endif %}
                            id="flujo" value="{{ flujo.id }}"  name="cambio_flujo" style="text-align: center">{{ flujo.nombre }}</button>

                </form>
            {% endfor %}
        </div>
    </div>
    <div class="container-fluid">
        <div class="row flex-row flex-nowrap">
                {% for fase in fases %}
                    <div class="col-5">
                        <div class="col" style="text-align: center">{{ fase.nombre }}</div>
                        <div class="container row">
                            <div class="col" style="text-align: center">TODO</div>
                            <div class="col" style="text-align: center">DOING</div>
                            <div class="col" style="text-align: center">DONE</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                {% for us1 in us_todo %}
                                    {% if us1.fase == fase %}
                                        <div class="card">
                                            <div class="row card-body">
                                                {% if us1.estado_proyecto != 'F' and us1.fase.indice > 1 and us1.usuario_asignado == usuario_actual and not proy.estado == 'F' %}
                                                <form action="#" method="get">
                                                    <input type="hidden" value="{{ us1.estado_fase }}" name="estado_anterior">
                                                    <button type="submit" value="{{ us1.id }}" name="us"><-</button>
                                                </form>
                                                {% endif %}
                                                <a href="{% url 'ver_user_story' proy.id us1.id %}">{{ us1.nombre }}</a>
                                                {% if us1.estado_proyecto != 'F' and not us1.estado_fase == 3 and us1.usuario_asignado == usuario_actual and not proy.estado == 'F' %}
                                                <form action="#" method="get">
                                                    <input type="hidden" value="{{ us1.estado_fase }}" name="sigte_estado">
                                                    <button type="submit" value="{{ us1.id }}" name="us">-></button>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col">
                                {% for us2 in us_doing %}
                                    {% if us2.fase == fase %}
                                        <div class="card">
                                        <div class="row card-body">
                                            {% if us2.estado_proyecto != 'F' and us2.usuario_asignado == usuario_actual and not proy.estado == 'F' %}
                                                <form action="#" method="get">
                                                    <input type="hidden" value="{{ us2.estado_fase }}" name="estado_anterior">
                                                    <button type="submit" value="{{ us2.id }}" name="us"><-</button>
                                                </form>
                                            {% endif %}
                                            <a href="{% url 'ver_user_story' proy.id us2.id %}">{{ us2.nombre }}</a>
                                            {% if us2.estado_proyecto != 'F' and  not us2.estado_fase == 3 and us2.usuario_asignado == usuario_actual and not proy.estado == 'F' and us2.actividad_agregada %}
                                                <form action="#" method="get">
                                                    <input type="hidden" value="{{ us2.estado_fase }}" name="sigte_estado">
                                                    <button type="submit" value="{{ us2.id }}" name="us">-></button>
                                                </form>
                                            {% endif %}
                                        </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col">
                                {% for us3 in us_done %}
                                    {% if us3.fase == fase %}
                                        <div class="card">
                                        <div class="row card-body">
                                            {% if us3.estado_proyecto != 'F' and us3.usuario_asignado == usuario_actual and not proy.estado == 'F' and not us3.fin %}
                                                <form action="#" method="get">
                                                    <input type="hidden" value="{{ us3.estado_fase }}" name="estado_anterior">
                                                    <button type="submit" value="{{ us3.id }}" name="us"><-</button>
                                                </form>
                                            {% endif %}
                                            <a href="{% url 'ver_user_story' proy.id us3.id %}">{{ us3.nombre }}</a>
                                            {% if us3.estado_proyecto != 'F' and us3.fase.indice < flujo_actual.cant_fases and us3.usuario_asignado == usuario_actual and not proy.estado == 'F' %}
                                                <form action="#" method="get">
                                                    <input type="hidden" value="{{ us3.estado_fase }}" name="sigte_estado">
                                                    <button type="submit" value="{{ us3.id }}" name="us">-></button>
                                                </form>
                                            {% endif %}
                                        </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>

{% endblock content %}